<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
    <div class="modal modal-sheet position-static d-block bg-body p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h1 class="fw-bold mb-0 fs-2">Registrate</h1>
              <a href="/"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button></a>
            </div>
      
            <div class="modal-body p-5 pt-0">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                        {{ message | safe }}
                    </div>
                {% endfor %}
              <form class="register-form" action={% url "register" %} method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="usuario" name="username" class="form-control rounded-3" id="floatingInput" placeholder="Usuario">
                    <label for="floatingInput">Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="nombre" name="first_name" class="form-control rounded-3" id="floatingInput" placeholder="Nombre">
                    <label for="floatingInput">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="apellidos" name="last_name" class="form-control rounded-3" id="floatingInput" placeholder="Apellidos">
                    <label for="floatingInput">Apellidos</label>
                  </div>
                <div class="form-floating mb-3">
                  <input type="correo" name="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Correo electrónico</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="password1" class="form-control rounded-3" id="floatingPassword" placeholder="Contraseña">
                  <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password2" class="form-control rounded-3" id="floatingPassword" placeholder="Contraseña">
                    <label for="floatingPassword">Confirma contraseña</label>
                  </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Registrate</button>
                <small class="text-body-secondary">Haciendo click en "Registrate", aceptas los términos y condiciones de uso</small>
                <br>
                <small class="text-body-secondary">¿Tienes cuenta? <a href="/user/login"> Inicia sesión.</a></small>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>