<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body style="height: 100vh">
    <nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
        <a class='px-3 navbar-brand ' href='#'> <img class='d-line-block align-center' src='https://i.imgur.com/PIcGWQs.png' width='50' height='50' /> WingWave Store</a>
        <button type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Navegación' class='navbar-toggler'>
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarNav'>
          <ul class='navbar-nav'>
            <li class='nav-item active'>
              <a class='nav-link' href='/'>Inicio</a>
            </li>
            <li class='nav-item active'>
              <a class='nav-link active' href='/products'>Catálogo</a>
            </li>
            <li class='nav-item active'>
              <a class='nav-link' href='/orders'>Pedidos</a>
            </li>
            <li class='nav-item active'>
              <a class='nav-link' href='/cart'>Carrito</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
        <div class='px-3 d-flex'>
          <a href="/user/me"><button type='button' class='btn btn-outline-primary me-2' > Mi cuenta</button></a>
          <a href="/user/logout"><button type='submit' class='btn btn-primary' >Salir</button></a>
        </div>
        {% else %}
        <div class='px-3 d-flex'>
          <a href="/user/login"><button type='button' class='btn btn-outline-primary me-2'>Accede</button></a>
          <a href="/user/register"><button type='button' class='btn btn-primary' >Crear cuenta</button></a>
        </div>
        {% endif %}
    
    </nav>
    <main class="d-flex flex-nowrap">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark" style="width: 280px; height: auto;">
        <form method="GET" action="/products">
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">¿QUÉ ESTAS BUSCANDO?</div><br>
            </li>
            <li>
              <a href="/products/piezas" class="nav-link link-body-emphasis">PIEZAS</a>
            </li>
            <li>
              <a href="/products/drones" class="nav-link link-body-emphasis">DRONES</a>
            </li>
            <li>
              <a href="/products/accesorios" class="nav-link link-body-emphasis">ACCESORIOS</a>
            </li>
            <li>
              <br><input type="text" class="form-control" placeholder="¿Buscas algo? Úsame!" name="buscar">
            </li>
            <li>
              <br><div class="nav-link link-body-emphasis">
                  <button class="dropbtn btn-primary form-control" onclick="toggleDropdown2()" type="button">ELIGE UNA MARCA</button><hr>
                  <div class="dropdown-content2" style="display: none; font-size: large;">
                    {% for fabricante in choices_fabricante %}
                    <input type="checkbox" name="marca" value="{{ fabricante }}">
                    <label>{{ fabricante }}</label><br>
                    {% endfor %}
                  </div><hr>
              </div>
            </li>
            <li>
              <div class="nav-link link-body-emphasis">
                  <button class="dropbtn btn-primary form-control" onclick="toggleDropdown()" type="button">ELIGE UNA SECCIÓN</button><hr>
                  <div class="dropdown-content" style="display: none; font-size: large;">
                    {% for seccion in choices_seccion %}
                    <input type="checkbox" name="seccion" value="{{ seccion }}">
                    <label>{{ seccion }}</label><br>
                    {% endfor %}
                  </div><hr>
              </div>
            </li>
            <li>
              <button type="submit" class="btn btn-primary form-control" >APLICAR FILTROS</button>
            </li>
          </ul>
          <hr>
        </form>
      </div>
     
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="padding-top: 20px;">{{ producto.nombre }}</h1><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" class="img-fluid" width="450" height="450" style="padding-left: 80px;">
            </div>
            <div class="col-md-6">
                <br><br><h3 class="text-center">Descripción</h3>
                <p class="text-center">{{ producto.descripcion }}</p><br>
                <h3 class="text-center">Datos del Producto</h3>
                <p class="text-center"><b>Departamento: </b>{{ producto.departamento }} <br><b>Sección: </b>{{ producto.seccion }} <br><b>Fabricante: </b>{{ producto.fabricante }}</p><br>
                <h3 class="text-center">Precio</h3>
                <p class="text-center">{{ producto.precio }}€</p><br>
                <div class="d-grid gap-2">
                {% if producto.stock > 0%}
                <form method="POST" action="/cart/add/">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                    <input min="1" max={{producto.stock}} type="number" value="1" name="cantidad" class="form-control" />
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                    </div>
                  </div>
                </form>
                {% else %}
                <a href="#" class="btn center btn-primary disabled btn-lg">Comprar</a>
                <p class="text-center">AGOTADO</p><br>
                {% endif %}
              </div>
            </div>
        </div>
        <br><hr>
        <div align="center">
          <a href="{% url 'add_opinion' producto.id %}">
            <button class="btn btn-primary btn-lg">Añadir Opinión</button>
          </a>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
              <h3 class="text-center">Opiniones del Producto</h3>
  
              {% if opiniones %}
                  <ul class="list-group">
                      {% for opinion in opiniones %}
                          <li class="list-group-item">
                              <strong>{{ opinion.usuario.first_name }}</strong> escribió el {{ opinion.fecha_creacion }}:<br>
                              {{ opinion.mensaje }}
                          </li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p class="text-center">No hay opiniones disponibles.</p>
              {% endif %}
              <br>

          </div>
      </div>
    </div>

      
    </main>
    <br><br>
    <footer class="footer fixed-bottom bg-dark text-light">
        <div class="container">
            <div class="row">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                </ul>
                <div class="col-md-6 d-flex justify-content-md-start">
                    <p class="text-body-secondary">© 2023 WingWave Store</p>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end">
                    <div class="row">
                        <div class="col-md-4">
                          <a href="https://maps.app.goo.gl/69U7wHqEWDmRFJH18" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit" class="text-body-secondary mx-3">📍</a>
                        </div>
                        <div class="col-md-4">
                          <a href="mailto:wingwave@mystore.com" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit" class="text-body-secondary mx-3">✉️</a>
                        </div>
                        <div class="col-md-4">
                          <a href="tel:+612612612" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit" class="text-body-secondary mx-3">☎️</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
      function toggleDropdown2() {
        var dropdownContent = document.getElementsByClassName("dropdown-content2")[0];
        if (dropdownContent.style.display === "none") {
            dropdownContent.style.display = "block";
        } else {
          dropdownContent.style.display = "none";
        }
      }
      
      function toggleDropdown() {
        var dropdownContent = document.getElementsByClassName("dropdown-content")[0];
        if (dropdownContent.style.display === "none") {
            dropdownContent.style.display = "block";
        } else {
          dropdownContent.style.display = "none";
        }
      }
    </script>
</body>
</html>